{% extends "crm/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if form.errors %}
        <br/>
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <br/><br/>

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <!--{{ forms|crispy }} -->
        <input class="btn btn-primary" type="submit" value="login"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
    <!--p>
        <a href="{% url 'crm:password_reset' %}">Forgot password?</a>
    </p-->
    <p>
        Not a User? Sign up
        <a href="{% url 'crm:signup' %}">here</a>
    </p>
{% endblock %}